title: The Code Guardian
subtitle: A blog for Maurice
description: >- # this means to ignore newlines until "baseurl:"
  This is a Security and Tech blog.

url: "" # the base hostname & protocol for your site, e.g. https://example.github.io
baseurl: "" # the subpath of your site, e.g. /blog

# Navigation
urls:
    - text: Home
      url:  /
    - text: About
      url:  /about
    - text: Blog
      url:  /blog
    - text: Contact
      url:  /contact
    - text: Knowledge Base
      url:  https://docs.thecodeguardian.dev


# Edit Author details (For multi authors check _data/authors.yml)

author_logo: knight_small.png
author: Maurice
author_bio: |
  Hello! I am a security and CS enthusiast and most importantly a partaker of the grace of God and a follower of Jesus! 
  Check out my other Blogs:
    - <a href="https://www.excellencyofchrist.blog">Excellency Of Christ</a>,
    - <a href="https://www.romans1520.blog">Romans 15:20</a>.

author_location: United States of America
author_website_url: "https://blog.thecodeguardian.dev"
typewrite-text: A cybersecurity and systems blog for those that love cybersecurity and systems.
hero_cover_img: dark_cpp.jpg # replace this for changing homepage cover (eg. try cover.jpeg). Image should be in /assets/img

# Experiences
author_work_experiences:
            - company_name: Industry Dive
              company_logo: id.png
              company_url: https://www.industrydive.com/
              designation: DevOps Engineer
              description: Kubernetes, GCP, Security
              visibility: true
            - company_name: Differential Consulting, LLC
              company_logo: differential.png
              company_url: https://differentialops.com/
              designation: Founder & Consultant
              description: GCP, Azure, DevOps, Security, Tool Development
              visibility: true
            - company_name: Edward Jones
              company_logo: edwardjones.png
              company_url: https://edwardjones.com/
              designation: Site Reliability Engineer
              description: AKS, Dynatrace, eBPF C Tool Development
              visibility: true
            - company_name: Peak6 Capital Management
              company_logo: p6.png
              company_url: https://peak6.com/
              designation: DevOps Engineer
              description: Kubernetes, GCP, Security
              visibility: true
            - company_name: Apex FinTech Solutions
              company_logo: apex.png
              company_url: https://apexfintechsolutions.com/
              designation: Systems Engineer
              description: Kubernetes, GCP, Web API Development
              visibility: true
            - company_name: Systemware, Inc.
              company_logo: systemware.png
              company_url: https://systemware.com/
              designation: DevOps Engineer
              description: Kubernetes, GCP, Security
              visibility: true
            - company_name: Secureworks (A Dell Company)
              company_logo: secureworks.png
              company_url: https://secureworks.com/
              designation: Sr. Security Analyst
              description: Intrusion Analysis, Blue Team
              visibility: true


# Education
author_education_details:
              - college_logo: utk.png
                college_name: University of Tennessee (Knoxville)
                college_url: https://utk.edu
                college_degree: Computer Science
                description: Master of Science
                visibility: true
              - college_logo: eiu.png
                college_name: Eastern Illinois University
                college_url: https://eiu.edu
                college_degree: Management Information Systems
                description: Bachelor of Science
                visibility: true

# Projects
author_project_details:
              - project_thumbnail: utk.png
                project_title: HPC/Networking Research Project with UTK Faculty
                project_description: I will provide a description on a future date
                project_url: https://github.com/mgreenj/CurrentResearch
                visibility: true

              - project_thumbnail: blockchain_logo.png
                project_title: Speculative Parallel Execution in Blockchain
                project_description: Investigating ways to reduce network congestion, latency, and transaction fees in blockchain using speculative parallel algorithms
                project_url: https://github.com/mgreenj/CurrentResearch
                visibility: true

              - project_thumbnail: graph-theory.png
                project_title: Graph Theory - Community Detection and Digital Organized Crime
                project_description: Exploring modifications to current community detection algorithms to disrupt digital organized crime networks
                project_url: https://github.com/mgreenj/CurrentResearch
                visibility: true
              
              - project_thumbnail: zkp.png
                project_title: Zero-Knowledge Proofs, Blockchain, and AML (Anti-Money Laundering)
                project_description: Exploring methods to enhance AML practices within blockchain and cryptocurrency systems.
                project_url: https://github.com/mgreenj/CurrentResearch
                visibility: true
              
              - project_thumbnail: rust.png
                project_title: Exploring the Rust and OCaml Compiler
                project_description: Exploring and deciphering the Rust and OCaml compilers
                project_url: https://github.com/mgreenj/CurrentResearch
                visibility: true

# social links
twitter_username: Maurice_GreenJr
github_username:  mgreenj
linkedin_username: mauricegreenjr
discuss_systems: 0x0M03II



#for comments ( we got Disqus and Hyvor Commenting, uncomment the one you want to use )

disqus_shortname: thecodeguardian-dev.disqus.com
#hyvor_talk_website_id: 476

# wakatime username (coding activity)
wakatime_username: 0x0M03II

# mailchimp embedded form url (newsletter):
#mailchimp_form_url: https://sujaykundu.us10.list-manage.com/subscribe/post?u=50bab1c85eae24ecfb0f68361&amp;id=3a2dd721d0

# contact form - (choose formspress or getform)
# getform_endpoint: 83b703c3-9e47-4df4-ac55-e24d7eb02abc
formspree_email: maurice.green@thecodeguardian.dev

# releases - widget can be (sidebar, modal or embed)
olvy_organization: devlopr
olvy_widget_type: sidebar

# syntax highlighter
markdown: kramdown
highlighter: rouge
permalink: pretty

# Choose what to show ( can be true or false)
show_author_work_experiences: false
show_author_education_details: false
show_author_project_details: true

# pagination of posts
paginate: 4
per_page: 4
paginate_path: "/blog/page/:num/"

# minify
# compress_html:
#   clippings: all
#   comments: ["<!-- ", " -->"]
#   endings: all
#   ignore:
#     envs: ['development']

# Archives
# jekyll-archives:
#   enabled:
#     - categories
#   layout: archive
#   permalinks:
#     category: '/category/:name/'

collections:
  products:
    output: true
  authors:
    output: true

defaults:
  -
    scope:
      path: "gallery"
    values:
      permalink: /:path/:basename:output_ext
  -
    scope:
      path: ""
      type: authors
    values:
      layout: author
      permalink: /blog/authors/:slug
  -
    scope:
      path: 'assets/**'
    values:
      sitemap: false

# Build settings
plugins:
  - jekyll-paginate
  - jekyll-gist
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-admin
  - jekyll-feed

# Jekyll Admin Config
jekyll_admin:
  # hidden_links:
  #   - posts
  #   - pages
  #   - staticfiles
  #   - datafiles
  #   - configuration
  homepage: "posts"


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.

### Switching Deployment Strategy (in DEPLOY_STRATEGY) file change the key accordingly:
# none - For no default
# gh-pages - For Github Pages
# firebase - For Firebase Hosting

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - assets/bower_components/isotope-layout/README.md
  - assets/bower_components/icono/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-svg-core/README.md
  - assets/bower_components/ghosthunter/README.md
  - assets/bower_components/nanobar/README.md
  - assets/bower_components/lightgallery/demo/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/free-brands-svg-icons/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/free-solid-svg-icons/README.md
  - assets/bower_components/jquery-mousewheel/README.md
  - assets/bower_components/get-size/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome/README.md
  - assets/bower_components/jquery-mousewheel/ChangeLog/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-free-regular/README.md
  - assets/bower_components/desandro-matches-selector/README.md
  - assets/bower_components/ev-emitter/README.md
  - assets/bower_components/font-awesome/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-free-solid/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-free/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-free-webfonts/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-free-brands/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-common-types/README.md
  - assets/bower_components/ghosthunter/example/Index.html
  - assets/bower_components/lightgallery/test/lightgallery.html
  - assets/bower_components/masonry-layout/README.md
  - assets/bower_components/imagesloaded/README.md


destination: ./build
