<!-- Mailchimp Newletters -->
<form action="{{site.mailchimp_form_url}}"method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll_footer">
    <script src="https://cdn.jsdelivr.net/npm/jquery"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.terminal/js/jquery.terminal.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery.terminal/css/jquery.terminal.min.css"/>
    <script>
        $('body').terminal({
            hello: function(what) {
                this.echo('Hello, ' + what +
                          '. Wellcome to this terminal.');
            }
        }, {
            greetings: 'My First Web Terminal'
        });
    </script>
</div>
