<div>
    <h2>Disclaimer</h2>
    <p>For complete information, please refer to my full <a href="/disclaimer">disclaimer</a>.  The content provided on this blog is for educational and informational purposes only and is not intended to encourage or support any illegal activities. Any information shared with me over a secure channel that is illegal or threatening to any individual, entity, or group will be reported to the appropriate authorities.</p>
    <hr> <!-- Line divider -->
    <p>There are several ways to contact me securely, in ranking order.</p>

    <h2>Tox Peer-to-Peer Messaging</h2>
    <p>Wikipedia defines Tox as a peer-to-peer instant messaging and video-calling protocol that offers end-to-end encryption. The project's stated goal is to provide secure yet easily accessible communication for everyone. It is extremely easy to use and supports throw-away accounts.</p>
    <p>To communicate via Tox, please submit the contact form below indicating that you wish to communicate over Tox.  Include your Tox ID so that I can add you as a friend.  Alternatively, you can send me a PGP encrypted message using my PGP key.</p>

    <h2>PGP Email</h2>
    <p>My PGP public key can be found on the Ubuntu or OpenPGP keyserver. For simplicity, I will provide a link to my public key below.</p>
    <p><a href="https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x1ae035b587b7b775ce7250174eb643f1a9e6f659">PGP Public Key</a></p>
    <hr>
    <h1 class="card-title"> Contact Form </h1>
</div>
