<div>
    <p>Disclaimer: Please read my full <a href="/disclaimer">disclaimer</a></p>
    <p>There are several ways to contact me securely, in ranking order.</p>

    <h2>Tox</h2>
    <p>Wikipedia defines Tox as a peer-to-peer instant messaging and video-calling protocol that offers end-to-end encryption. The project's stated goal is to provide secure yet easily accessible communication for everyone. It is extremely easy to use and supports throw-away accounts.</p>
    <p>Tox ID: <id goes here></p>

    <h2>PGP Email</h2>
    <p>My PGP public key can be found on the Ubuntu or OpenPGP keyserver. For simplicity, I will provide a link to my public key below.</p>
    <p><a href="https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x1ae035b587b7b775ce7250174eb643f1a9e6f659">PGP Public Key</a></p>

    <h2>Encrypted Instant Messaging</h2>
    <p>Currently, I do not accept encrypted text messages; however, this may change.</p>
</div>
